@model SK.Models.New

@{
    ViewBag.Title = "删除新闻";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除新闻</h2>

<h3>你确定要删除这篇新闻吗？</h3>
<div>
    <h4>新闻信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            标题
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            内容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="确认删除" class="btn btn-danger" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>